@page "/EventoAdmin"
@rendermode InteractiveServer
@using CentroEventos.Aplicacion
@inject ListarEventosDeportivosUseCase ListarEventosUseCase
@inject ServicioUsuarioActualProvisorio UsuarioActual
@inject IServicioAutorizacion ServicioAutorizacion
@inject NavigationManager NavManager

<h3 class="d-flex justify-content-between align-items-center">
    <span>Eventos Registrados</span>
   
        <button class="btn btn-success" @onclick="@(() => NavManager.NavigateTo("/EventoCrear"))">
            <i class="bi bi-plus-circle me-1"></i> + Crear Evento
        </button>
    
</h3>

@if (eventos.Count == 0)
{
    <p>No hay eventos registrados.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha y Hora</th>
                <th>Duración (hs)</th>
                <th>Cupo Máximo</th>
                <th>Responsable ID</th>
                @if ((UsuarioActual.PersonaLogueada?.Id != null) && ServicioAutorizacion.EsAdmin(UsuarioActual.PersonaLogueada!.Id))
                {
                    <th>Acciones</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var evento in eventos)
            {
                <tr>
                    <td>@evento.Id</td>
                    <td>@evento.Nombre</td>
                    <td>@evento.Descripcion</td>
                    <td>@evento.FechaHoraInicio.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@evento.DuracionHoras</td>
                    <td>@evento.CupoMaximo</td>
                    <td>@evento.ResponsableId</td>
                    @if ((UsuarioActual.PersonaLogueada?.Id != null) && ServicioAutorizacion.EsAdmin(UsuarioActual.PersonaLogueada!.Id))
                    {
                        <td>
                            <button class="btn btn-primary btn-sm me-2" @onclick="() => EditarEvento(evento.Id)">
                                Editar
                            </button>
                            <button class="btn btn-danger btn-sm" @onclick="() => EliminarEvento(evento.Id)">
                                Eliminar
                            </button>
                        </td>
                    }
                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
   
    private List<EventoDeportivo> eventos = new();

    protected override void OnInitialized()
    {
        eventos = ListarEventosUseCase.Ejecutar().ToList();
    }

    private void EditarEvento(int eventoId)
    {
        Console.WriteLine($"Editar evento {eventoId}");
    }

    private void EliminarEvento(int eventoId)
    {
        Console.WriteLine($"Eliminar evento {eventoId}");
    }

    private void MostrarDialogoCrear()
    {
        NavManager.NavigateTo("/EventoCrear");
    }
}
