@page "/PersonaAdmin"
@rendermode InteractiveServer
@using CentroEventos.Aplicacion;
@using CentroEventos.UI.Components;
@inject ListarPersonasUseCase ListarPersonasUseCase
@inject ServicioUsuarioActualProvisorio UsuarioActual
@inject IServicioAutorizacion ServicioAutorizacion

<h3 class="d-flex justify-content-between align-items-center">
    <span>Personas Registradas</span>
    @if ((UsuarioActual.PersonaLogueada?.Id != null) && ServicioAutorizacion.EsAdmin(UsuarioActual.PersonaLogueada!.Id))
    {
        <button class="btn btn-danger" @onclick= "() => AgregarPersona()">Agregar Persona</button>
    }
</h3>

<!-- TABLA -->
@if (personas.Count == 0)
{
    <p>No hay personas registradas.</p>
}
else
{
    <table class="table table-striped table-bordered mt-3">
        <thead class="table-dark">
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Permisos</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var persona in personas)
            {
                <tr>
                    <td>@persona.DNI</td>
                    <td>@persona.Nombre</td>
                    <td>@persona.Apellido</td>
                    <td>@persona.Email</td>
                    <td>@persona.Telefono</td>
                    <td>
                        @if (persona.ListaPermisos?.Count > 0)
                        {
                            <ul class="mb-0">
                                @foreach (var permiso in persona.ListaPermisos)
                                {
                                    <li>@permiso</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span class="text-muted">Sin permisos</span>
                        }
                    </td>
                    <td>
                        
                        @if ((UsuarioActual.PersonaLogueada?.Id != null) && ServicioAutorizacion.EsAdmin(UsuarioActual.PersonaLogueada!.Id))
                           {  
                            <button class="btn btn-danger" @onclick= "() => ConfirmarReseteo(persona.Id)">Editar</button>
                                <DialogoConfirmacion @ref=dialogo Mensaje="Editar"
                                OnConfirmado="Resetear" />
                            <button class="btn btn-danger btn-sm" @onclick="() => EliminarPersona(persona.Id)">Eliminar</button>
                           }
                        @*If de permisos*@

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Persona> personas = new();
    private Persona nuevaPersona = new();

    //Pruebas qcyo
    private int currentCount = 0;
    DialogoConfirmacion dialogo = null!;
    private void ConfirmarReseteo(int Id)
    {
        dialogo.Mostrar(Id);
    }
    private void Resetear()
    {
        currentCount = 0;
    }

    protected override void OnInitialized()
    {
        personas = ListarPersonasUseCase.Ejecutar().ToList();
    }
    private void AgregarPersona()
    {
        Console.WriteLine($"Agregar persona");
    }
    private void EliminarPersona(int id)
    {
        Console.WriteLine($"ELIMINAR persona ID {id}");
    }
}


